.Main {
    width: 512px;
    height: 274px;
    align-items: center;
    text-align: center;
    -webkit-text-stroke: #000000 1px;
}

.Image {
    width: 163px;
    height: 158px;
}

.UserName {
    width: 512px;
    height: 49px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 49px;

    color: #ffffff;
}

.Text {
    height: 37px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;

    color: #ffffff;
}